﻿/* red ================================================================================================================================== */

.theme-red .navbar {
	background-color: #F44336;
}

.theme-red .navbar-brand {
	color: #fff;
}

.theme-red .navbar-brand:hover {
	color: #fff;
}

.theme-red .navbar-brand:active {
	color: #fff;
}

.theme-red .navbar-brand:focus {
	color: #fff;
}

.theme-red .nav> li> a {
	color: #fff;
}

.theme-red .nav> li> a:hover {
	background-color: transparent;
}

.theme-red .nav> li> a:focus {
	background-color: transparent;
}

.theme-red .nav .open> a {
	background-color: transparent;
}

.theme-red .nav .open> a:hover {
	background-color: transparent;
}

.theme-red .nav .open> a:focus {
	background-color: transparent;
}

.theme-red .bars {
	color: #fff;
}

.theme-red .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-red .sidebar .menu .list li.active>:first-child i,
.theme-red .sidebar .menu .list li.active>:first-child span {
	color: #F44336;
}

.theme-red .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-red .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-red .sidebar .legal {
	background-color: #fff;
}

.theme-red .sidebar .legal .copyright a {
	color: #F44336 !important;
}

/* custom ******************************************* */

.theme-red .sending{
  background-color: #F44336 !important;
}

.theme-red .receiving{
  background-color: #FF9800;  /* cambio */
}

.theme-red .input-group-addon .material-icons
{
  color: #F44336 !important;
}

/* pink ================================================================================================================================== */

.theme-pink .navbar {
	background-color: #E91E63;
}

.theme-pink .navbar-brand {
	color: #fff;
}

.theme-pink .navbar-brand:hover {
	color: #fff;
}

.theme-pink .navbar-brand:active {
	color: #fff;
}

.theme-pink .navbar-brand:focus {
	color: #fff;
}

.theme-pink .nav> li> a {
	color: #fff;
}

.theme-pink .nav> li> a:hover {
	background-color: transparent;
}

.theme-pink .nav> li> a:focus {
	background-color: transparent;
}

.theme-pink .nav .open> a {
	background-color: transparent;
}

.theme-pink .nav .open> a:hover {
	background-color: transparent;
}

.theme-pink .nav .open> a:focus {
	background-color: transparent;
}

.theme-pink .bars {
	color: #fff;
}

.theme-pink .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-pink .sidebar .menu .list li.active>:first-child i,
.theme-pink .sidebar .menu .list li.active>:first-child span {
	color: #E91E63;
}

.theme-pink .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-pink .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-pink .sidebar .legal {
	background-color: #fff;
}

.theme-pink .sidebar .legal .copyright a {
	color: #E91E63 !important;
}

/* custom ******************************************* */

.theme-pink .sending{
  background-color: #E91E63 !important;
}

.theme-pink .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-pink .input-group-addon .material-icons
{
  color: #E91E63 !important;
}

/* purple ================================================================================================================================== */

.theme-purple .navbar {
	background-color: #9C27B0;
}

.theme-purple .navbar-brand {
	color: #fff;
}

.theme-purple .navbar-brand:hover {
	color: #fff;
}

.theme-purple .navbar-brand:active {
	color: #fff;
}

.theme-purple .navbar-brand:focus {
	color: #fff;
}

.theme-purple .nav> li> a {
	color: #fff;
}

.theme-purple .nav> li> a:hover {
	background-color: transparent;
}

.theme-purple .nav> li> a:focus {
	background-color: transparent;
}

.theme-purple .nav .open> a {
	background-color: transparent;
}

.theme-purple .nav .open> a:hover {
	background-color: transparent;
}

.theme-purple .nav .open> a:focus {
	background-color: transparent;
}

.theme-purple .bars {
	color: #fff;
}

.theme-purple .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-purple .sidebar .menu .list li.active>:first-child i,
.theme-purple .sidebar .menu .list li.active>:first-child span {
	color: #9C27B0;
}

.theme-purple .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-purple .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-purple .sidebar .legal {
	background-color: #fff;
}

.theme-purple .sidebar .legal .copyright a {
	color: #9C27B0 !important;
}

/* custom ******************************************* */

.theme-purple .sending{
  background-color: #9C27B0 !important;
}

.theme-purple .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-purple .input-group-addon .material-icons
{
  color: #9C27B0 !important;
}

/* deep-purple ================================================================================================================================== */

.theme-deep-purple .navbar {
	background-color: #673AB7;
}

.theme-deep-purple .navbar-brand {
	color: #fff;
}

.theme-deep-purple .navbar-brand:hover {
	color: #fff;
}

.theme-deep-purple .navbar-brand:active {
	color: #fff;
}

.theme-deep-purple .navbar-brand:focus {
	color: #fff;
}

.theme-deep-purple .nav> li> a {
	color: #fff;
}

.theme-deep-purple .nav> li> a:hover {
	background-color: transparent;
}

.theme-deep-purple .nav> li> a:focus {
	background-color: transparent;
}

.theme-deep-purple .nav .open> a {
	background-color: transparent;
}

.theme-deep-purple .nav .open> a:hover {
	background-color: transparent;
}

.theme-deep-purple .nav .open> a:focus {
	background-color: transparent;
}

.theme-deep-purple .bars {
	color: #fff;
}

.theme-deep-purple .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-deep-purple .sidebar .menu .list li.active>:first-child i,
.theme-deep-purple .sidebar .menu .list li.active>:first-child span {
	color: #673AB7;
}

.theme-deep-purple .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-deep-purple .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-deep-purple .sidebar .legal {
	background-color: #fff;
}

.theme-deep-purple .sidebar .legal .copyright a {
	color: #673AB7 !important;
}

/* custom ******************************************* */

.theme-deep-purple .sending{
  background-color: #673AB7 !important;
}

.theme-deep-purple .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-deep-purple .input-group-addon .material-icons
{
  color: #673AB7 !important;
}

/* indigo ================================================================================================================================== */

.theme-indigo .navbar {
	background-color: #3F51B5;
}

.theme-indigo .navbar-brand {
	color: #fff;
}

.theme-indigo .navbar-brand:hover {
	color: #fff;
}

.theme-indigo .navbar-brand:active {
	color: #fff;
}

.theme-indigo .navbar-brand:focus {
	color: #fff;
}

.theme-indigo .nav> li> a {
	color: #fff;
}

.theme-indigo .nav> li> a:hover {
	background-color: transparent;
}

.theme-indigo .nav> li> a:focus {
	background-color: transparent;
}

.theme-indigo .nav .open> a {
	background-color: transparent;
}

.theme-indigo .nav .open> a:hover {
	background-color: transparent;
}

.theme-indigo .nav .open> a:focus {
	background-color: transparent;
}

.theme-indigo .bars {
	color: #fff;
}

.theme-indigo .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-indigo .sidebar .menu .list li.active>:first-child i,
.theme-indigo .sidebar .menu .list li.active>:first-child span {
	color: #3F51B5;
}

.theme-indigo .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-indigo .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-indigo .sidebar .legal {
	background-color: #fff;
}

.theme-indigo .sidebar .legal .copyright a {
	color: #3F51B5 !important;
}

/* custom ******************************************* */

.theme-indigo .sending{
  background-color: #3F51B5 !important;
}

.theme-indigo .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-indigo .input-group-addon .material-icons
{
  color: #3F51B5 !important;
}

/* blue ================================================================================================================================== */

.theme-blue .navbar {
	background-color: #2196F3;
}

.theme-blue .navbar-brand {
	color: #fff;
}

.theme-blue .navbar-brand:hover {
	color: #fff;
}

.theme-blue .navbar-brand:active {
	color: #fff;
}

.theme-blue .navbar-brand:focus {
	color: #fff;
}

.theme-blue .nav> li> a {
	color: #fff;
}

.theme-blue .nav> li> a:hover {
	background-color: transparent;
}

.theme-blue .nav> li> a:focus {
	background-color: transparent;
}

.theme-blue .nav .open> a {
	background-color: transparent;
}

.theme-blue .nav .open> a:hover {
	background-color: transparent;
}

.theme-blue .nav .open> a:focus {
	background-color: transparent;
}

.theme-blue .bars {
	color: #fff;
}

.theme-blue .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-blue .sidebar .menu .list li.active>:first-child i,
.theme-blue .sidebar .menu .list li.active>:first-child span {
	color: #2196F3;
}

.theme-blue .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-blue .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-blue .sidebar .legal {
	background-color: #fff;
}

.theme-blue .sidebar .legal .copyright a {
	color: #2196F3 !important;
}

/* custom ******************************************* */

.theme-blue .sending{
  background-color: #2196F3 !important;
}

.theme-blue .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-blue .input-group-addon .material-icons
{
  color: #2196F3 !important;
}

/* ligth-blue ================================================================================================================================== */

.theme-light-blue .navbar {
	background-color: #03A9F4;
}

.theme-light-blue .navbar-brand {
	color: #fff;
}

.theme-light-blue .navbar-brand:hover {
	color: #fff;
}

.theme-light-blue .navbar-brand:active {
	color: #fff;
}

.theme-light-blue .navbar-brand:focus {
	color: #fff;
}

.theme-light-blue .nav> li> a {
	color: #fff;
}

.theme-light-blue .nav> li> a:hover {
	background-color: transparent;
}

.theme-light-blue .nav> li> a:focus {
	background-color: transparent;
}

.theme-light-blue .nav .open> a {
	background-color: transparent;
}

.theme-light-blue .nav .open> a:hover {
	background-color: transparent;
}

.theme-light-blue .nav .open> a:focus {
	background-color: transparent;
}

.theme-light-blue .bars {
	color: #fff;
}

.theme-light-blue .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-light-blue .sidebar .menu .list li.active>:first-child i,
.theme-light-blue .sidebar .menu .list li.active>:first-child span {
	color: #03A9F4;
}

.theme-light-blue .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-light-blue .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-light-blue .sidebar .legal {
	background-color: #fff;
}

.theme-light-blue .sidebar .legal .copyright a {
	color: #03A9F4 !important;
}

/* custom ******************************************* */

.theme-light-blue .sending{
  background-color: #03A9F4 !important;
}

.theme-light-blue .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-light-blue .input-group-addon .material-icons
{
  color: #03A9F4 !important;
}

/* cyan ================================================================================================================================== */

.theme-cyan .navbar {
	background-color: #00BCD4;
}

.theme-cyan .navbar-brand {
	color: #fff;
}

.theme-cyan .navbar-brand:hover {
	color: #fff;
}

.theme-cyan .navbar-brand:active {
	color: #fff;
}

.theme-cyan .navbar-brand:focus {
	color: #fff;
}

.theme-cyan .nav> li> a {
	color: #fff;
}

.theme-cyan .nav> li> a:hover {
	background-color: transparent;
}

.theme-cyan .nav> li> a:focus {
	background-color: transparent;
}

.theme-cyan .nav .open> a {
	background-color: transparent;
}

.theme-cyan .nav .open> a:hover {
	background-color: transparent;
}

.theme-cyan .nav .open> a:focus {
	background-color: transparent;
}

.theme-cyan .bars {
	color: #fff;
}

.theme-cyan .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-cyan .sidebar .menu .list li.active>:first-child i,
.theme-cyan .sidebar .menu .list li.active>:first-child span {
	color: #00BCD4;
}

.theme-cyan .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-cyan .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-cyan .sidebar .legal {
	background-color: #fff;
}

.theme-cyan .sidebar .legal .copyright a {
	color: #00BCD4 !important;
}

/* custom ******************************************* */

.theme-cyan .sending{
  background-color: #00BCD4 !important;
}

.theme-cyan .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-cyan .input-group-addon .material-icons
{
  color: #00BCD4 !important;
}

/* teal ================================================================================================================================== */

.theme-teal .navbar {
	background-color: #009688;
}

.theme-teal .navbar-brand {
	color: #fff;
}

.theme-teal .navbar-brand:hover {
	color: #fff;
}

.theme-teal .navbar-brand:active {
	color: #fff;
}

.theme-teal .navbar-brand:focus {
	color: #fff;
}

.theme-teal .nav> li> a {
	color: #fff;
}

.theme-teal .nav> li> a:hover {
	background-color: transparent;
}

.theme-teal .nav> li> a:focus {
	background-color: transparent;
}

.theme-teal .nav .open> a {
	background-color: transparent;
}

.theme-teal .nav .open> a:hover {
	background-color: transparent;
}

.theme-teal .nav .open> a:focus {
	background-color: transparent;
}

.theme-teal .bars {
	color: #fff;
}

.theme-teal .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-teal .sidebar .menu .list li.active>:first-child i,
.theme-teal .sidebar .menu .list li.active>:first-child span {
	color: #009688;
}

.theme-teal .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-teal .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-teal .sidebar .legal {
	background-color: #fff;
}

.theme-teal .sidebar .legal .copyright a {
	color: #009688 !important;
}

/* custom ******************************************* */

.theme-teal .sending{
  background-color: #009688 !important;
}

.theme-teal .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-teal .input-group-addon .material-icons
{
  color: #009688 !important;
}

/* green ================================================================================================================================== */

.theme-green .navbar {
	background-color: #4CAF50;
}

.theme-green .navbar-brand {
	color: #fff;
}

.theme-green .navbar-brand:hover {
	color: #fff;
}

.theme-green .navbar-brand:active {
	color: #fff;
}

.theme-green .navbar-brand:focus {
	color: #fff;
}

.theme-green .nav> li> a {
	color: #fff;
}

.theme-green .nav> li> a:hover {
	background-color: transparent;
}

.theme-green .nav> li> a:focus {
	background-color: transparent;
}

.theme-green .nav .open> a {
	background-color: transparent;
}

.theme-green .nav .open> a:hover {
	background-color: transparent;
}

.theme-green .nav .open> a:focus {
	background-color: transparent;
}

.theme-green .bars {
	color: #fff;
}

.theme-green .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-green .sidebar .menu .list li.active>:first-child i,
.theme-green .sidebar .menu .list li.active>:first-child span {
	color: #4CAF50;
}

.theme-green .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-green .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-green .sidebar .legal {
	background-color: #fff;
}

.theme-green .sidebar .legal .copyright a {
	color: #4CAF50 !important;
}

/* custom ******************************************* */

.theme-green .sending{
  background-color: #4CAF50 !important;
}

.theme-green .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-green .input-group-addon .material-icons
{
  color: #4CAF50 !important;
}

/* light-green ================================================================================================================================== */

.theme-light-green .navbar {
  background-color: #8BC34A;
}

.theme-light-green .navbar-brand {
	color: #fff;
}

.theme-light-green .navbar-brand:hover {
	color: #fff;
}

.theme-light-green .navbar-brand:active {
	color: #fff;
}

.theme-light-green .navbar-brand:focus {
	color: #fff;
}

.theme-light-green .nav> li> a {
	color: #fff;
}

.theme-light-green .nav> li> a:hover {
	background-color: transparent;
}

.theme-light-green .nav> li> a:focus {
	background-color: transparent;
}

.theme-light-green .nav .open> a {
	background-color: transparent;
}

.theme-light-green .nav .open> a:hover {
	background-color: transparent;
}

.theme-light-green .nav .open> a:focus {
	background-color: transparent;
}

.theme-light-green .bars {
	color: #fff;
}

.theme-light-green .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-light-green .sidebar .menu .list li.active>:first-child i,
.theme-light-green .sidebar .menu .list li.active>:first-child span {
	color: #8BC34A;
}

.theme-light-green .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-light-green .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-light-green .sidebar .legal {
	background-color: #fff;
}

.theme-light-green .sidebar .legal .copyright a {
	color: #8BC34A !important;
}

/* custom ******************************************* */

.theme-light-green .sending{
  background-color: #8BC34A !important;
}

.theme-light-green .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-light-green .input-group-addon .material-icons
{
  color: #8BC34A !important;
}

/* lime ================================================================================================================================== */

.theme-lime .navbar {
	background-color: #CDDC39;
}

.theme-lime .navbar-brand {
	color: #fff;
}

.theme-lime .navbar-brand:hover {
	color: #fff;
}

.theme-lime .navbar-brand:active {
	color: #fff;
}

.theme-lime .navbar-brand:focus {
	color: #fff;
}

.theme-lime .nav> li> a {
	color: #fff;
}

.theme-lime .nav> li> a:hover {
	background-color: transparent;
}

.theme-lime .nav> li> a:focus {
	background-color: transparent;
}

.theme-lime .nav .open> a {
	background-color: transparent;
}

.theme-lime .nav .open> a:hover {
	background-color: transparent;
}

.theme-lime .nav .open> a:focus {
	background-color: transparent;
}

.theme-lime .bars {
	color: #fff;
}

.theme-lime .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-lime .sidebar .menu .list li.active>:first-child i,
.theme-lime .sidebar .menu .list li.active>:first-child span {
	color: #CDDC39;
}

.theme-lime .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-lime .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-lime .sidebar .legal {
	background-color: #fff;
}

.theme-lime .sidebar .legal .copyright a {
	color: #CDDC39 !important;
}

/* custom ******************************************* */

.theme-lime .sending{
  background-color: #CDDC39 !important;
}

.theme-lime .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-lime .input-group-addon .material-icons
{
  color: #CDDC39 !important;
}

/* yellow ================================================================================================================================== */

.theme-yellow .navbar {
	background-color: #FFEB3B;
}

.theme-yellow .navbar-brand {
	color: #fff;
}

.theme-yellow .navbar-brand:hover {
	color: #fff;
}

.theme-yellow .navbar-brand:active {
	color: #fff;
}

.theme-yellow .navbar-brand:focus {
	color: #fff;
}

.theme-yellow .nav> li> a {
	color: #fff;
}

.theme-yellow .nav> li> a:hover {
	background-color: transparent;
}

.theme-yellow .nav> li> a:focus {
	background-color: transparent;
}

.theme-yellow .nav .open> a {
	background-color: transparent;
}

.theme-yellow .nav .open> a:hover {
	background-color: transparent;
}

.theme-yellow .nav .open> a:focus {
	background-color: transparent;
}

.theme-yellow .bars {
	color: #fff;
}

.theme-yellow .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-yellow .sidebar .menu .list li.active>:first-child i,
.theme-yellow .sidebar .menu .list li.active>:first-child span {
	color: #FFEB3B;
}

.theme-yellow .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-yellow .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-yellow .sidebar .legal {
	background-color: #fff;
}

.theme-yellow .sidebar .legal .copyright a {
	color: #FFEB3B !important;
}

/* custom ******************************************* */

.theme-yellow .sending{
  background-color: #FFEB3B !important;
}

.theme-yellow .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-yellow .input-group-addon .material-icons
{
  color: #FFEB3B !important;
}

/* amber ================================================================================================================================== */

.theme-amber .navbar {
	background-color: #FFC107;
}

.theme-amber .navbar-brand {
	color: #fff;
}

.theme-amber .navbar-brand:hover {
	color: #fff;
}

.theme-amber .navbar-brand:active {
	color: #fff;
}

.theme-amber .navbar-brand:focus {
	color: #fff;
}

.theme-amber .nav> li> a {
	color: #fff;
}

.theme-amber .nav> li> a:hover {
	background-color: transparent;
}

.theme-amber .nav> li> a:focus {
	background-color: transparent;
}

.theme-amber .nav .open> a {
	background-color: transparent;
}

.theme-amber .nav .open> a:hover {
	background-color: transparent;
}

.theme-amber .nav .open> a:focus {
	background-color: transparent;
}

.theme-amber .bars {
	color: #fff;
}

.theme-amber .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-amber .sidebar .menu .list li.active>:first-child i,
.theme-amber .sidebar .menu .list li.active>:first-child span {
	color: #FFC107;
}

.theme-amber .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-amber .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-amber .sidebar .legal {
	background-color: #fff;
}

.theme-amber .sidebar .legal .copyright a {
	color: #FFC107 !important;
}

/* custom ******************************************* */

.theme-amber .sending{
  background-color: #FFC107 !important;
}

.theme-amber .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-amber .input-group-addon .material-icons
{
  color: #FFC107 !important;
}

/* orange ================================================================================================================================== */

.theme-orange .navbar {
	background-color: #FF9800;
}

.theme-orange .navbar-brand {
	color: #fff;
}

.theme-orange .navbar-brand:hover {
	color: #fff;
}

.theme-orange .navbar-brand:active {
	color: #fff;
}

.theme-orange .navbar-brand:focus {
	color: #fff;
}

.theme-orange .nav> li> a {
	color: #fff;
}

.theme-orange .nav> li> a:hover {
	background-color: transparent;
}

.theme-orange .nav> li> a:focus {
	background-color: transparent;
}

.theme-orange .nav .open> a {
	background-color: transparent;
}

.theme-orange .nav .open> a:hover {
	background-color: transparent;
}

.theme-orange .nav .open> a:focus {
	background-color: transparent;
}

.theme-orange .bars {
	color: #fff;
}

.theme-orange .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-orange .sidebar .menu .list li.active>:first-child i,
.theme-orange .sidebar .menu .list li.active>:first-child span {
	color: #FF9800;
}

.theme-orange .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-orange .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-orange .sidebar .legal {
	background-color: #fff;
}

.theme-orange .sidebar .legal .copyright a {
	color: #FF9800 !important;
}

/* custom ******************************************* */

.theme-orange .sending{
  background-color: #FF9800 !important;
}

.theme-orange .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-orange .input-group-addon .material-icons
{
  color: #FF9800 !important;
}

/* deep orange ================================================================================================================================== */

.theme-deep-orange .navbar {
	background-color: #FF5722;
}

.theme-deep-orange .navbar-brand {
	color: #fff;
}

.theme-deep-orange .navbar-brand:hover {
	color: #fff;
}

.theme-deep-orange .navbar-brand:active {
	color: #fff;
}

.theme-deep-orange .navbar-brand:focus {
	color: #fff;
}

.theme-deep-orange .nav> li> a {
	color: #fff;
}

.theme-deep-orange .nav> li> a:hover {
	background-color: transparent;
}

.theme-deep-orange .nav> li> a:focus {
	background-color: transparent;
}

.theme-deep-orange .nav .open> a {
	background-color: transparent;
}

.theme-deep-orange .nav .open> a:hover {
	background-color: transparent;
}

.theme-deep-orange .nav .open> a:focus {
	background-color: transparent;
}

.theme-deep-orange .bars {
	color: #fff;
}

.theme-deep-orange .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-deep-orange .sidebar .menu .list li.active>:first-child i,
.theme-deep-orange .sidebar .menu .list li.active>:first-child span {
	color: #FF5722;
}

.theme-deep-orange .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-deep-orange .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-deep-orange .sidebar .legal {
	background-color: #fff;
}

.theme-deep-orange .sidebar .legal .copyright a {
	color: #FF5722 !important;
}

/* custom ******************************************* */

.theme-deep-orange .sending{
  background-color: #FF5722 !important;
}

.theme-deep-orange .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-deep-orange .input-group-addon .material-icons
{
  color: #FF5722 !important;
}

/* brown ================================================================================================================================== */

.theme-brown .navbar {
	background-color: #795548;
}

.theme-brown .navbar-brand {
	color: #fff;
}

.theme-brown .navbar-brand:hover {
	color: #fff;
}

.theme-brown .navbar-brand:active {
	color: #fff;
}

.theme-brown .navbar-brand:focus {
	color: #fff;
}

.theme-brown .nav> li> a {
	color: #fff;
}

.theme-brown .nav> li> a:hover {
	background-color: transparent;
}

.theme-brown .nav> li> a:focus {
	background-color: transparent;
}

.theme-brown .nav .open> a {
	background-color: transparent;
}

.theme-brown .nav .open> a:hover {
	background-color: transparent;
}

.theme-brown .nav .open> a:focus {
	background-color: transparent;
}

.theme-brown .bars {
	color: #fff;
}

.theme-brown .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-brown .sidebar .menu .list li.active>:first-child i,
.theme-brown .sidebar .menu .list li.active>:first-child span {
	color: #795548;
}

.theme-brown .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-brown .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-brown .sidebar .legal {
	background-color: #fff;
}

.theme-brown .sidebar .legal .copyright a {
	color: #795548 !important;
}

/* custom ******************************************* */

.theme-brown .sending{
  background-color: #795548 !important;
}

.theme-brown .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-brown .input-group-addon .material-icons
{
  color: #795548 !important;
}

/*grey ================================================================================================================================== */

.theme-grey .navbar {
	background-color: #9E9E9E;
}

.theme-grey .navbar-brand {
	color: #fff;
}

.theme-grey .navbar-brand:hover {
	color: #fff;
}

.theme-grey .navbar-brand:active {
	color: #fff;
}

.theme-grey .navbar-brand:focus {
	color: #fff;
}

.theme-grey .nav> li> a {
	color: #fff;
}

.theme-grey .nav> li> a:hover {
	background-color: transparent;
}

.theme-grey .nav> li> a:focus {
	background-color: transparent;
}

.theme-grey .nav .open> a {
	background-color: transparent;
}

.theme-grey .nav .open> a:hover {
	background-color: transparent;
}

.theme-grey .nav .open> a:focus {
	background-color: transparent;
}

.theme-grey .bars {
	color: #fff;
}

.theme-grey .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-grey .sidebar .menu .list li.active>:first-child i,
.theme-grey .sidebar .menu .list li.active>:first-child span {
	color: #9E9E9E;
}

.theme-grey .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-grey .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-grey .sidebar .legal {
	background-color: #fff;
}

.theme-grey .sidebar .legal .copyright a {
	color: #9E9E9E !important;
}

/* custom ******************************************* */

.theme-grey .sending{
  background-color: #9E9E9E !important;
}

.theme-grey .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-grey .input-group-addon .material-icons
{
  color: #9E9E9E !important;
}

/* blue-grey ================================================================================================================================== */

.theme-blue-grey .navbar {
	background-color: #607D8B;
}

.theme-blue-grey .navbar-brand {
	color: #fff;
}

.theme-blue-grey .navbar-brand:hover {
	color: #fff;
}

.theme-blue-grey .navbar-brand:active {
	color: #fff;
}

.theme-blue-grey .navbar-brand:focus {
	color: #fff;
}

.theme-blue-grey .nav> li> a {
	color: #fff;
}

.theme-blue-grey .nav> li> a:hover {
	background-color: transparent;
}

.theme-blue-grey .nav> li> a:focus {
	background-color: transparent;
}

.theme-blue-grey .nav .open> a {
	background-color: transparent;
}

.theme-blue-grey .nav .open> a:hover {
	background-color: transparent;
}

.theme-blue-grey .nav .open> a:focus {
	background-color: transparent;
}

.theme-blue-grey .bars {
	color: #fff;
}

.theme-blue-grey .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-blue-grey .sidebar .menu .list li.active>:first-child i,
.theme-blue-grey .sidebar .menu .list li.active>:first-child span {
	color: #607D8B;
}

.theme-blue-grey .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-blue-grey .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-blue-grey .sidebar .legal {
	background-color: #fff;
}

.theme-blue-grey .sidebar .legal .copyright a {
	color: #607D8B !important;
}

/* custom ******************************************* */

.theme-blue-grey .sending{
  background-color: #607D8B !important;
}

.theme-blue-grey .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-blue-grey .input-group-addon .material-icons
{
  color: #607D8B !important;
}

/* black ================================================================================================================================== */

.theme-black .navbar {
	background-color: #000;
}

.theme-black .navbar-brand {
	color: #fff;
}

.theme-black .navbar-brand:hover {
	color: #fff;
}

.theme-black .navbar-brand:active {
	color: #fff;
}

.theme-black .navbar-brand:focus {
	color: #fff;
}

.theme-black .nav> li> a {
	color: #fff;
}

.theme-black .nav> li> a:hover {
	background-color: transparent;
}

.theme-black .nav> li> a:focus {
	background-color: transparent;
}

.theme-black .nav .open> a {
	background-color: transparent;
}

.theme-black .nav .open> a:hover {
	background-color: transparent;
}

.theme-black .nav .open> a:focus {
	background-color: transparent;
}

.theme-black .bars {
	color: #fff;
}

.theme-black .sidebar .menu .list li.active {
	background-color: transparent;
}

.theme-black .sidebar .menu .list li.active>:first-child i,
.theme-black .sidebar .menu .list li.active>:first-child span {
	color: #000;
}

.theme-black .sidebar .menu .list .toggled {
	background-color: transparent;
}

.theme-black .sidebar .menu .list .ml-menu {
	background-color: transparent;
}

.theme-black .sidebar .legal {
	background-color: #fff;
}

.theme-black .sidebar .legal .copyright a {
	color: #000 !important;
}

/* custom ******************************************* */

.theme-black .sending{
  background-color: #000 !important;
}

.theme-black .receiving{
  background-color: #FF9800; /* cambio */
}

.theme-black .input-group-addon .material-icons
{
  color: #000 !important;
}
